<!-- Books Section -->
<section id="books" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-12">
            <h2>Interested in learning or mastering CSS?</h2>
            <center>
              <p><a target="_blank" href="http://amzn.to/2FTCMIM" class="btn btn-default btn-sm">Your guide to get started in development</a></p>
            </center>
        </div>
    </div>
</section>

<span class="clearfix"></span>

<!-- themes Section -->
<section id="themes" class="container content-section text-center md-ptb-40">
  <div class="row">
      <div class="col-lg-12">
        <center>
          <a href="https://partners.hostgator.com/c/2800237/215654/3094" target="_top" id="215654"><img src="//a.impactradius-go.com/display-ad/3094-215654" border="0" alt="" width="971" height="251"/></a><img height="0" width="0" src="https://partners.hostgator.com/i/2800237/215654/3094" style="position:absolute;visibility:hidden;" border="0" />
        </center>
        </div>
    </div>
</section>
