<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 style="color:#fff;">Contact</h2>
      <p>Collaborators Welcome! Please feel free to submit a pull request for review or <a href="mailto:ezspacecss@gmail.com" target="_blank">contact me</a> with any questions.</p>
      <p><a href="mailto:{{ site.email }}" title="Contact ezspaceCSS">{{ site.email }}</a></p>
      <ul class="list-inline banner-social-buttons">
        {% for network in site.social %}
        <li>
          <a href="{{ network.url }}" class="btn btn-default btn-lg" target="_blank" title="{{ network.title }}"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
        </li>
        {% endfor %}
      </ul>
      <a href="https://plus.google.com/u/2/118224980858554697709" class="btn btn-default btn-sm" title="ezspaceCSS on google+" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-google-plus fa-fw"></i></a>
      <a href="https://www.facebook.com/ezspaceCSS/" class="btn btn-default btn-sm" title="ezspaceCSS on facebook" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
      <a href="https://www.reddit.com/user/ezspaceCSS/" class="btn btn-default btn-sm" title="ezspaceCSS on reddit" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-reddit fa-fw"></i></a>
      <a href="https://www.ezspaceCSS.tumblr.com" class="btn btn-default btn-sm" title="ezspaceCSS on tumblr" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-tumblr fa-fw"></i></a>
      <a href="https://www.youtube.com/channel/UC6CLB1WgQDmvOtug7XWVxFg" class="btn btn-default btn-sm" title="ezspaceCSS on youtube" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-youtube fa-fw"></i></a>
      <a href="https://www.linkedin.com/company-beta/22325045/" class="btn btn-default btn-sm" title="ezspaceCSS on linkedin" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a>
      <a href="https://www.pinterest.com/ezspaceCSS/pins/" class="btn btn-default btn-sm" title="ezspaceCSS on pinterest" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
      <a href="https://www.instagram.com/ezspaceCSS/?hl=en" class="btn btn-default btn-sm" title="ezspaceCSS on instagram" style="border-radius:25px; padding: 4px 6px;" target="_blank"><i class="fa fa-instagram fa-fw"></i></a>

  </div>
  </div>
</section>
