    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download ezspacecss bootstrap utility classes</h2>
                    <p>You can download ezspacecss or install with bower.</p>
                    <div class="well col-md-12">
                        <p class="editable">$ bower install ez-space-css-repo</p>
                    </div>
                    <a href="https://github.com/dmanzer2/ez-space-css-repo" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Visit Github Page</a>
                </div>
            </div>
        </div>
    </section>
